
Python/env/
*.tlog
Cpp/Debug/
Cpp/Algorithms.UI/Debug/
Cpp/DataStructures/Debug/
Recursion/Recursion/Debug/
Recursion/Recursion/x64/
Recursion/Tests/x64/
*/.vs/*
*/packages/
Cpp/DataStructures\.Tests/Debug/
