UnionFind/x64/Debug/EntryPoint.obj
UnionFind/x64/Debug/UnionFind.log
UnionFind/x64/Debug/UnionFind.obj
UnionFind/x64/Debug/UnionFind.pch
UnionFind/x64/Debug/UnionFind.tlog/CL.command.1.tlog
UnionFind/x64/Debug/UnionFind.tlog/CL.read.1.tlog
UnionFind/x64/Debug/UnionFind.tlog/CL.write.1.tlog
UnionFind/x64/Debug/UnionFind.tlog/UnionFind.lastbuildstate
UnionFind/x64/Debug/UnionFind.tlog/link.command.1.tlog
UnionFind/x64/Debug/UnionFind.tlog/link.read.1.tlog
UnionFind/x64/Debug/UnionFind.tlog/link.write.1.tlog
UnionFind/x64/Debug/WeightedQuickUnionFind.obj
UnionFind/x64/Debug/stdafx.obj
UnionFind/x64/Debug/vc140.idb
UnionFind/x64/Debug/vc140.pdb
*.suo
*.sdf
*.vssscc
UnionFind/Data/largeUF.txt
ipch/
Recursion/x64/Debug/vc140.idb
Algorithms.VC.opendb
Recursion/x64/Debug/Recursion.tlog/CL.command.1.tlog
Recursion/x64/Debug/Recursion.tlog/CL.read.1.tlog
Recursion/x64/Debug/Recursion.tlog/CL.write.1.tlog
Recursion/x64/Debug/Recursion.tlog/Recursion.lastbuildstate
Recursion/x64/Debug/Recursion.tlog/link.command.1.tlog
Recursion/x64/Debug/Recursion.tlog/link.read.1.tlog
Recursion/x64/Debug/Recursion.tlog/link.write.1.tlog
Recursion/x64/Debug/hanoi.obj.enc
Recursion/x64/
DataStructures/x64/
Recursion.Tests/x64/
DataStructures.Tests/x64/
*.db
Algorithms.UI/x64/
UnionFind/x64/Debug/vc141.idb
/.vs/Algorithms/v15/Browse.VC.opendb
/.vs/Algorithms/v15/Solution.VC.db-shm
/.vs/Algorithms/v15/Solution.VC.db-wal
.vs/Algorithms/v15/Browse.VC.opendb
.vs/Algorithms/v15/Solution.VC.db-shm
.vs/Algorithms/v15/Solution.VC.db-wal
